---
#Checking Mariadb or Mysql is already Installed.
- name: Check if MySQL/Mariadb is already installed.
  stat: path=/etc/init.d/mysql
  register: mariadb_installed

- name: Error if Mysql/Mariadb is already installed.
  fail: msg="Oops !!! mysql or mariadb is already installed, Remove it first."
  when: mariadb_installed_stat_exist == true

- name: Adding Repository for mariadb
  include: repo.yml
  when: mariadb_installed.stat.exists == false

- name: Ensure MariaDB packages are installed.
  yum: "name={{ item }} state=installed enablerepo=mariadb"
  with_items: __mariadb_packages
  register: rh_mariadb_install_packages
